body{
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    margin: 0;
}

h1{
    display: flex;
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 150px;
    margin-right: 600px;

}

.nav{
    color: white;
    display: flex;
    font-size: 18;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

.links{
    display: flex;
}
.area1{
    color: white;
    margin-left: 150px;
    padding-top: 80px;
}
.awesome-text{
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1px;
}
.subtext{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 300;
}
.button1{
    background-color: #3882F6;
    padding: 10px 30px;
    margin-left: 150px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}
.placeholder{
    position: absolute;
    margin-left: 500px;
    background-color: gray;
    padding: 100px 150px;
    margin-top: -110px;
}
.randinfo{
    font-size: 38px;
    color: #1F2937;
    display: block;
    text-align: center;
}
.area2{
    background-color: white;
    display: block;
    justify-content: center;

}
.area2-1{
    display: flex;
    justify-content: center;
}
.randiv1{
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 130px;
    width: 130px;
    display:inline-block;
    margin-right: 22px;
}
.randiv2{
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 130px;
    width: 130px;
    display:inline-block;
    margin-right: 22px;
}
.randiv3{
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 130px;
    width: 130px;
    display:inline-block;
    margin-right: 22px;
}
.randiv4{
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 130px;
    width: 130px;
    display:inline-block;
}